<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <contextName>zhihu</contextName>

    <property name="log.path" value="/opt/admin/zhihu/logs" />
    <Property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] -- %logger{80}  %msg%n"/>
	<property name="log.maxHistory" value="15" />
	<property name="log.rootLevel" value="INFO" />
	<property name="log.zhihuLevel" value="INFO" />

    <!--输出到控制台-->
    <appender name="console_logger" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <!--主干日志-->
    <appender name="zhihu_logger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/zhihu.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/zhihu.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="monitor_logger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/monitor.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/monitor.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="sudu_logger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/sudu.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/sudu.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="proxy_logger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/proxy.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/proxy.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="dao_logger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/dao.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/dao.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>


    <root level="${log.rootLevel}">
        <appender-ref ref="zhihu_logger"/>
        <!--<appender-ref ref="console_logger"/>-->
    </root>

    <logger name="console" level="DEBUG" additivity="false">
        <appender-ref ref="console_logger"/>
    </logger>

    <logger name="zhihu" level="INFO" additivity="false">
        <appender-ref ref="zhihu_logger"/>
        <appender-ref ref="console_logger"/>
    </logger>

    <logger name="monitor" level="DEBUG" additivity="false">
        <appender-ref ref="monitor_logger"/>
        <appender-ref ref="console_logger"/>
    </logger>

    <logger name="sudu" level="DEBUG" additivity="false">
        <appender-ref ref="sudu_logger"/>
        <appender-ref ref="console_logger"/>
    </logger>

    <logger name="dao" level="DEBUG" additivity="false">
        <appender-ref ref="dao_logger"/>
    </logger>

    <logger name="proxy" level="DEBUG" additivity="false">
        <appender-ref ref="proxy_logger"/>
        <appender-ref ref="console_logger"/>
    </logger>

    <!-- 配置这个路径下访问的类的logger name-->
    <Logger name="com.crawl" level="debug" additivity="false">
        <appender-ref ref="monitor_logger"/>
        <appender-ref ref="console_logger"/>
    </Logger>

</configuration>